/* -------reseteo------- */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-size: 62.5%;
  list-style-type: none;
}

body {
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 1.2rem;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 0.5rem 0.5rem #000000;
          box-shadow: inset 0 0 0.5rem 0.5rem #000000;
  border: solid .4rem transparent;
}

body, input, button {
  font-family: 'Manrope', sans-serif;
}

h1 {
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
}

nav span, nav p, footer span, footer p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

nav i, footer i {
  color: white;
  font-size: 1.6rem;
  padding: 0 .6rem;
}

nav button, footer button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 1rem;
}

.carrito__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  padding: 1.5rem 3rem 3rem 3rem;
  z-index: 2;
}

@media (min-width: 425px) {
  .carrito__sidebar {
    width: 42.5rem;
  }
}

.carrito__sidebar .close {
  color: #000000;
  font-size: 3rem;
  padding: .6rem;
  padding: 0;
  text-align-last: right;
  cursor: pointer;
}

.carrito__sidebar h2 {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
}

.carrito__sidebar #carrito__items {
  overflow-y: auto;
}

.carrito__sidebar #carrito__items::-webkit-scrollbar {
  width: 1rem;
}

.carrito__sidebar #carrito__items::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 0.1rem 0.1rem #979797;
          box-shadow: inset 0 0 0.1rem 0.1rem #979797;
  border: solid .4rem transparent;
}

.carrito__sidebar #carrito__items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

.carrito__sidebar #carrito__items .item__image img {
  height: 15rem;
}

.carrito__sidebar #carrito__items .item__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 3rem;
  color: #000000;
  font-size: 3rem;
  padding: .6rem;
  width: 20rem;
  height: 15rem;
  padding: 0;
}

.carrito__sidebar #carrito__items .item__data h3, .carrito__sidebar #carrito__items .item__data h3 a, .carrito__sidebar #carrito__items .item__data strong, .carrito__sidebar #carrito__items .item__data button {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
}

.carrito__sidebar #carrito__items .item__data h4 {
  color: #979797;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: .05rem;
}

.carrito__sidebar #carrito__items .item__data p, .carrito__sidebar #carrito__items .item__data span, .carrito__sidebar #carrito__items .item__data label {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1rem;
  line-height: 1.5;
  max-width: none;
}

.carrito__sidebar #carrito__items .item__data .item__bin, .carrito__sidebar #carrito__items .item__data .item__subtotal, .carrito__sidebar #carrito__items .item__data .item__total {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

.carrito__sidebar #carrito__items .item__data .item__bin {
  cursor: pointer;
}

.carrito__sidebar #carrito__items .item__units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  border: 1px solid #000000;
  margin-top: .5rem;
}

.carrito__sidebar #carrito__items .item__units i {
  padding: .8rem;
  cursor: pointer;
}

.carrito__sidebar .cart__price {
  border-top: 1px solid #000000;
  padding: 1rem 0;
  margin-top: 1.5rem;
}

.carrito__sidebar .cart__price span {
  color: #979797;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: start;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: .05rem;
  text-align-last: left;
}

.carrito__sidebar .cart__price h3 {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 1.8rem;
  text-align-last: justify;
}

.carrito__sidebar .cart__checkout {
  padding-top: none;
  text-align: center;
  padding-top: 1.5rem;
}

.carrito__sidebar .cart__checkout h3 a, .carrito__sidebar .cart__checkout a, .carrito__sidebar .cart__checkout button {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  border: 1px solid #000000;
  padding: 1.2rem 2.4rem;
  background-color: transparent;
  cursor: pointer;
}

.show-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
}

nav form, footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav form input, footer form input {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

nav form input::-webkit-input-placeholder, footer form input::-webkit-input-placeholder {
  color: white;
}

nav form input:-ms-input-placeholder, footer form input:-ms-input-placeholder {
  color: white;
}

nav form input::-ms-input-placeholder, footer form input::-ms-input-placeholder {
  color: white;
}

nav form input::placeholder, footer form input::placeholder {
  color: white;
}

nav form input:focus, nav form select:focus, nav form textarea:focus, footer form input:focus, footer form select:focus, footer form textarea:focus {
  outline: 0;
}

select {
  color: #000000;
  background-color: transparent;
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.5;
  width: 15rem;
  border: 1px solid #000000;
  border-radius: 0;
  outline: none;
  padding: .4rem;
  margin-left: .5rem;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10rem;
  bottom: 10rem;
  width: 4rem;
  height: 2rem;
  background-color: white;
  border: 2px solid white;
  padding: 1.2rem 2.4rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.switch i {
  color: black;
  font-size: 1.2rem;
  padding: .7rem;
  cursor: pointer;
}

.switch__button {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.slide .switch__button {
  left: 50%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  padding: 2rem;
}

footer p, footer i {
  padding: .5rem;
}

#tienda {
  background-color: #ffffff;
  max-width: 114rem;
  padding-top: 9.1rem;
  margin: auto;
}

@media screen and (min-width: 768px) {
  #tienda {
    padding-top: 14.4rem;
  }
}

#tienda .clasificacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  padding: 0 2rem;
}

#tienda .clasificacion h3, #tienda .clasificacion h3 a, #tienda .clasificacion strong, #tienda .clasificacion button {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
}

#tienda .clasificacion h4 {
  color: #979797;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: .05rem;
}

#tienda .clasificacion p, #tienda .clasificacion span, #tienda .clasificacion label {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1rem;
  line-height: 1.5;
  max-width: none;
}

#tienda .clasificacion h1 {
  color: #000000;
  font-size: 3.6rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  padding: 5rem 0 5rem 0;
}

#tienda .clasificacion__elementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tienda .clasificacion__elementos span {
  padding: .5rem;
}

#tienda .clasificacion__elementos i {
  color: #000000;
  font-size: 1.2rem;
  padding: .6rem;
}

#tienda .clasificacion__elementos label {
  padding-left: 1.1rem;
}

#tienda #catalogo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;
  padding: 0 2rem;
}

#tienda #catalogo .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tienda #catalogo .card .overlay__item {
  position: relative;
}

#tienda #catalogo .card .overlay__item .overlay__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

#tienda #catalogo .card .overlay__item .overlay__content:hover {
  opacity: 1;
}

#tienda #catalogo .card .overlay__item .overlay__content > * {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  width: 90%;
}

#tienda #catalogo .card .overlay__item .overlay__content:hover > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  width: 90%;
}

#tienda #catalogo .card .overlay__item img {
  width: 100%;
}

#tienda #catalogo .card .overlay__item .white-button {
  padding-top: none;
  text-align: center;
}

#tienda #catalogo .card .overlay__item .white-button h3 a, #tienda #catalogo .card .overlay__item .white-button a, #tienda #catalogo .card .overlay__item .white-button button {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  border: 1px solid #ffffff;
  padding: 1.2rem 2.4rem;
  background-color: transparent;
  cursor: pointer;
}

#tienda #catalogo .card .card__detail {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#tienda #catalogo .card .card__detail h3, #tienda #catalogo .card .card__detail h3 a, #tienda #catalogo .card .card__detail strong, #tienda #catalogo .card .card__detail button {
  color: #000000;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
}

#tienda #catalogo .card .card__detail h4 {
  color: #979797;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: .05rem;
}

#tienda #catalogo .card .card__detail p, #tienda #catalogo .card .card__detail span, #tienda #catalogo .card .card__detail label {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1rem;
  line-height: 1.5;
  max-width: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  padding: 17.2rem 0 0 10rem;
}

.hero h1 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
}

.hero p {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  letter-spacing: .1rem;
  line-height: 1.5;
  max-width: 64rem;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.4rem;
}

.hero__title p, .hero__title .hero__effect span {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
}

.hero__effect {
  overflow: hidden;
}

.hero__effect span {
  display: block;
  text-align: left;
  padding-left: 1rem;
  -webkit-animation: spin_words 6s infinite;
          animation: spin_words 6s infinite;
}

@-webkit-keyframes spin_words {
  10% {
    -webkit-transform: translateY(-112%);
            transform: translateY(-112%);
  }
  25% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-212%);
            transform: translateY(-212%);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  60% {
    -webkit-transform: translateY(-312%);
            transform: translateY(-312%);
  }
  75% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  85% {
    -webkit-transform: translateY(-412%);
            transform: translateY(-412%);
  }
  100% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
}

@keyframes spin_words {
  10% {
    -webkit-transform: translateY(-112%);
            transform: translateY(-112%);
  }
  25% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  35% {
    -webkit-transform: translateY(-212%);
            transform: translateY(-212%);
  }
  50% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  60% {
    -webkit-transform: translateY(-312%);
            transform: translateY(-312%);
  }
  75% {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  85% {
    -webkit-transform: translateY(-412%);
            transform: translateY(-412%);
  }
  100% {
    -webkit-transform: translateY(-400%);
            transform: translateY(-400%);
  }
}

.hero__button {
  padding-top: 3rem;
  text-align: left;
}

.hero__button h3 a, .hero__button a, .hero__button button {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  border: 1px solid #ffffff;
  padding: 1.2rem 2.4rem;
  background-color: transparent;
  cursor: pointer;
}

.hero__video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (max-width: 768px) {
  .hero {
    padding: 17.2rem 6.8rem 0 6.8rem;
  }
}

nav {
  background-color: black;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 1;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
}

nav .navbar__info {
  width: 12rem;
  line-height: 2.8rem;
}

nav .navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
}

nav .navbar__icons .navbar__wishlist {
  padding-right: 1.4rem;
}

nav .navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */