nav {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 1;

    .navbar {
        @include flex(row, nowrap, space-between, flex-start);
        padding: 1rem;

        &__info { 
            width: 16rem; 
            line-height: 2.2rem; 

            i { 
                width: 3.2rem; 
                text-align-last: center;
            }
        }

        &__icons {
            @include flex(row, nowrap, right, center);
            width: 16rem;

            .navbar__user { padding-right: 1rem; }

            .navbar__cart { cursor: pointer; }
        }
    }
}