nav {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 1;

    .navbar {
        @include flex(row, nowrap, space-between, flex-start);
        padding: 1rem;

        &__info { 
            width: 12rem; 
            line-height: 2.8rem; 
        }

        &__icons {
            @include flex(row, nowrap, right, center);
            width: 12rem;

            .navbar__wishlist { padding-right: 1rem; }

            .navbar__cart { cursor: pointer; }
        }
    }

    .navmenu {
        @include flex(row, nowrap, center, center);
    }
}