.store {
    background-color: $white;
    max-width: 114rem;
    margin: auto;

    h2 { 
        @include title($black, center); 
        padding: 5rem 0;
    }

    .clasificacion {
        @include flex(row, nowrap, space-between, center);
        @include flex-detail($black);
        padding: 0 2rem;

        h1 { 
            @include title($black, center); 
            padding: 5rem 0 5rem 0;
        }

        &__elementos {
            @include flex(row, nowrap, space-between, center);

            span {padding: .5rem }

            i { @include icon($black, 1.2rem); }

            label { padding-left: 1.1rem; }
        }
    }

    #new-in, #essential, #collection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 2rem;
        padding: 0 2rem;

        .card {
            @include flex(column, nowrap, center, center);

            .overlay__item {
                @include overlay__content(rgba(0, 0, 0, 0.6));
                img { width: 100%; }
                .white-button { @include button($white, none, center); }
            }

            .card__detail { 
                @include flex-detail($black);
                padding-bottom: 5rem;
            } 
        }
    }

    .black-button { @include button(black, 1.2rem, center); }
}