// -------------------- CARRITO --------------------

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
    transform: translate(-100%);
    padding: 1.5rem 3rem 3rem 3rem;
    z-index: 2;

    @media (min-width: 425px) {
        width: 42.5rem;
    }

    .close {
        @include icon($black, 3rem);
        padding: 0;
        text-align-last: right;
        cursor: pointer;
    }
    
    h2 { 
        @include subtitle($black, center); 
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
    }

    #carrito__items  {
        .item {
            @include flex(row, nowrap, space-between, center);
            padding: 1.5rem 0;
            
            &__image img { height: 15rem; }

            &__data { 
                @include flex(column, nowrap, space-between, flex-start);
                @include flex-detail($black);
                @include icon($black, 3rem);
                width: 20rem;
                height: 15rem;
                padding: 0;

                .item__bin, .item__subtotal, .item__total { align-self: self-end; }

                .item__bin { cursor: pointer; }
            } 

            &__units {
                @include flex(row, nowrap, space-between, center);
                width: 8rem;
                border: 1px solid $black;
                margin-top: .5rem;

                i { 
                    padding: .8rem; 
                    cursor: pointer;
                }
            }
        }
    }

    .cart__price {
        border-top: 1px solid $black;
        padding: 1rem 0;
        margin-top: 1.5rem;

        span {
            @include highlight(start);
            text-align-last: left;
        }

        h3 { 
            @include subtitle($black, center); 
            font-size: 1.8rem;
            text-align-last: justify;
        }
    }

    .cart__checkout {
        @include button($black, none, center);
        padding-top: 1.5rem;
    }
}

.show-sidebar {
    transform: translate(0);
}