select, option {
    color: black;
    background-color: transparent;
    font: { family: 'Manrope', sans-serif; size: 1.2rem; weight: 400; }
    letter-spacing: .1rem;
    line-height: 1.5;
    width: 15rem;
    border: 1px solid black;
    border-radius: 0;
    outline: none;
    padding: .4rem;
    margin-left: .5rem;
    cursor: pointer;

    &::-ms-expand {
        display: none;
    }
}

option {
    color: $grey-400;
}